/node_modules
/public/hot
/public/storage
/public/fe
/public/laravel-maxy-frontendv2
/public/uploads
/storage/*.key
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/vendor
/vendor/
/.idea/
.DS_Store
.env.testing
/bootstrap/cache/*.php
/config/constants.php # If you have a custom constants file you don't want to track
/public/build
/public/css
/public/js
/public/mix-manifest.json
/public/hot
/public/storage
/public/uploads
/node_modules
/npm-debug.log
/yarn-error.log
/storage/*.key
/storage/app/public/
/storage/framework/cache/
/storage/framework/sessions/
/storage/framework/views/
/storage/logs/
/vendor/
/.idea/
.DS_Store
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env.testing
/bootstrap/cache/*.php
/public/build
/public/css
/public/js
/public/mix-manifest.json
/.vscode/
